.main{
    background-image: url('~src/assets/img/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 23px;

}

.bg{
       margin-top: 50px;
       position: relative;
       margin-right:600px;
    }
